.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2.5rem;
}

#app-version {
  color: var(--muted);
  font-size: 0.9rem;
}

.muted {
  color: var(--muted);
}
